@font-face {
  font-family: 'heading_pro_trialbold_italic';
  src: url("../fonts/heading-pro-bold-italic-trial-webfont.woff2") format("woff2"), url("../fonts/heading-pro-bold-italic-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'heading_pro_trialbold';
  src: url("../fonts/heading-pro-bold-trial-webfont.woff2") format("woff2"), url("../fonts/heading-pro-bold-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.hr {
  width: 60px;
  height: 3px;
  margin: 0 auto;
  background-color: #f53435; }

.head_nav_wrap {
  height: 80px;
  background-color: #ffffff;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s ease; }
  @media screen and (min-width: 64rem) {
    .head_nav_wrap {
      height: 120px; }
      .head_nav_wrap.shrink {
        height: 80px; } }

.logo_wrap {
  position: relative; }
  .logo_wrap .julio_logo {
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: all 0.5s ease; }
    @media screen and (min-width: 64rem) {
      .logo_wrap .julio_logo {
        height: 80px; }
        .logo_wrap .julio_logo.shrink {
          height: 60px; } }

.name_wrap {
  position: relative; }
  .name_wrap h1 {
    font-family: heading_pro_trialbold, Helvetica, SansSerif;
    font-size: 1.5rem;
    margin-bottom: 0;
    position: absolute;
    bottom: 5%; }

.burger_button_wrap {
  position: relative; }
  .burger_button_wrap .burger_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 20;
    cursor: pointer; }
    .burger_button_wrap .burger_button div {
      width: 27px;
      height: 3px;
      background-color: #190101;
      transition: all .5s ease; }
    .burger_button_wrap .burger_button .top {
      margin-bottom: 6px; }
    .burger_button_wrap .burger_button .mid {
      margin-bottom: 6px; }
  .burger_button_wrap .active .top {
    transform: rotate(45deg);
    transform-origin: left 0; }
  .burger_button_wrap .active .mid {
    opacity: 0; }
  .burger_button_wrap .active .bot {
    transform: rotate(-45deg);
    transform-origin: left 100%; }

.overlay {
  position: fixed;
  z-index: 19;
  background-color: #f53435;
  right: -100%;
  width: 100%;
  height: 100vh;
  transition: all .5s ease; }
  .overlay nav {
    position: relative;
    text-align: center;
    top: 10%; }
    .overlay nav ul {
      margin-left: 0; }
      .overlay nav ul li {
        list-style-type: none; }
        .overlay nav ul li a {
          font-family: heading_pro_trialbold, Helvetica, SansSerif;
          color: #000000;
          font-size: 3rem;
          text-transform: uppercase;
          transition: all .5s ease;
          position: relative;
          text-decoration: none; }
          .overlay nav ul li a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            bottom: 0;
            left: 0;
            background-color: #000000;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s; }
          .overlay nav ul li a:hover, .overlay nav ul li a:focus {
            color: #000000; }
            .overlay nav ul li a:hover:before, .overlay nav ul li a:focus:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1); }
  .overlay.show {
    right: 0; }

.header_image {
  background-image: url(../images/cover-photo.jpg);
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 100vh; }

.text_placement {
  position: absolute;
  bottom: 12%; }
  .text_placement h2 {
    font-family: heading_pro_trialbold_italic, Helvetica, SansSerif;
    color: #ffffff;
    font-size: 3rem;
    margin-bottom: 0; }
  .text_placement p {
    color: #ffffff;
    font-size: 1rem; }
  .text_placement .hr {
    width: 120px;
    float: left; }
  @media screen and (min-width: 40rem) {
    .text_placement h2 {
      font-size: 4rem; }
    .text_placement p {
      font-size: 1.75rem;
      margin-top: -20px; } }

.desktop_nav_wrap {
  position: relative; }
  .desktop_nav_wrap nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 60px;
    background: #f53435;
    padding-top: 8px; }
    .desktop_nav_wrap nav ul {
      margin: 0; }
      .desktop_nav_wrap nav ul li {
        list-style-type: none;
        display: inline; }
        .desktop_nav_wrap nav ul li a {
          font-family: heading_pro_trialbold, Helvetica, SansSerif;
          text-transform: uppercase;
          color: black; }
      @media screen and (min-width: 64rem) {
        .desktop_nav_wrap nav ul li {
          margin-left: 35px; }
          .desktop_nav_wrap nav ul li a {
            font-size: 1.5rem; } }
      @media screen and (min-width: 75rem) {
        .desktop_nav_wrap nav ul li {
          margin-left: 35px; }
          .desktop_nav_wrap nav ul li a {
            font-size: 2rem; } }
      @media screen and (min-width: 90rem) {
        .desktop_nav_wrap nav ul li {
          margin-left: 60px; }
          .desktop_nav_wrap nav ul li a {
            font-size: 2rem; } }
    .desktop_nav_wrap nav::before {
      content: "";
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-top: 60px solid white;
      border-right: 40px solid transparent; }

.bio_section {
  text-align: center;
  margin-bottom: 60px;
  padding: 0 10px 0 10px; }
  @media screen and (min-width: 40rem) {
    .bio_section .hr {
      float: left; } }
  @media screen and (min-width: 64rem) {
    .bio_section {
      margin-bottom: 140px; } }
  .bio_section .bio {
    background-color: #ffffff;
    margin-top: 80px; }
    @media screen and (min-width: 64rem) {
      .bio_section .bio {
        margin-top: 160px; } }
    .bio_section .bio h2 {
      font-family: heading_pro_trialbold, Helvetica, SansSerif;
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 10px; }
      @media screen and (min-width: 40rem) {
        .bio_section .bio h2 {
          text-align: left;
          font-size: 2.5rem;
          margin: 0; } }
      @media screen and (min-width: 64rem) {
        .bio_section .bio h2 {
          font-size: 3rem; } }
  .bio_section p {
    margin-top: 20px; }
    @media screen and (min-width: 40rem) {
      .bio_section p {
        margin-top: 80px;
        text-align: left;
        font-size: 1rem; } }
    @media screen and (min-width: 64rem) {
      .bio_section p {
        margin-top: 160px; } }

.timeline_section {
  padding: 60px 10px 60px 10px;
  background-color: #190101; }
  .timeline_section img {
    max-height: 350px; }
  .timeline_section h2 {
    font-family: heading_pro_trialbold, Helvetica, SansSerif;
    font-size: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center; }
    @media screen and (min-width: 40rem) {
      .timeline_section h2 {
        font-size: 2.5rem; } }
    @media screen and (min-width: 64rem) {
      .timeline_section h2 {
        font-size: 3rem; } }
  .timeline_section .timeline_description {
    background-position: 0 50%;
    background-repeat: no-repeat;
    width: 100%;
    padding: 10px 10px 0 10px;
    border-left: 1px solid white;
    border-bottom: 1px solid white; }
    .timeline_section .timeline_description.high_school {
      background-image: url("../images/2004.svg");
      background-position: 0 50%;
      background-repeat: no-repeat; }
    .timeline_section .timeline_description.college {
      background-image: url("../images/2008.svg");
      background-position: 0 50%;
      background-repeat: no-repeat; }
    .timeline_section .timeline_description.nfl {
      background-image: url("../images/2011.svg");
      background-position: 0 50%;
      background-repeat: no-repeat;
      border-bottom: none; }
    .timeline_section .timeline_description h3 {
      font-family: 'Impact', Helvetica, SansSerif;
      font-size: 1.5rem;
      color: #f53435;
      text-transform: uppercase;
      margin-top: 20px; }
      .timeline_section .timeline_description h3 span:last-child {
        color: white;
        font-size: 1rem; }
    .timeline_section .timeline_description p {
      font-size: 1rem;
      color: #ffffff; }
  @media screen and (min-width: 40rem) {
    .timeline_section .timeline_description.high_school {
      background-image: none; }
    .timeline_section .timeline_description.college {
      background-image: none; }
    .timeline_section .timeline_description.nfl {
      background-image: none; } }
  .timeline_section .years-wrap {
    position: relative; }
    .timeline_section .years-wrap img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
  .timeline_section .break_container {
    position: relative;
    cursor: pointer; }
    .timeline_section .break_container .break_wrap {
      position: absolute;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid white;
      float: right;
      top: -10px;
      left: 0;
      z-index: 9; }
      .timeline_section .break_container .break_wrap .break {
        position: absolute;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #190101;
        float: right;
        top: -10px;
        left: -12px; }
  @media screen and (min-width: 40rem) {
    .timeline_section .second_break .break_wrap {
      border-left: none;
      border-right: 10px solid white;
      left: -8px; }
      .timeline_section .second_break .break_wrap .break {
        border-left: none;
        border-right: 10px solid #190101;
        left: 2px; } }
  @media screen and (min-width: 40rem) {
    .timeline_section .cell:nth-child(5) .timeline_description {
      border-left: none; }
    .timeline_section .mid-year {
      border-left: 1px solid white; } }

video {
  width: 100%; }

.video_play {
  cursor: pointer; }

.read_more {
  color: #f53435;
  cursor: pointer; }
  .read_more_active .read_more {
    display: none; }

.show_less {
  color: #f53435;
  cursor: pointer;
  display: none; }
  .read_more_active .show_less {
    display: inline; }

.extra_content {
  display: none; }
  .read_more_active .extra_content {
    display: inline; }

.news_section {
  text-align: center;
  padding: 60px 10px 60px 10px;
  background-image: url(../images/news_bg.jpg);
  background-position: center;
  background-size: cover; }
  .news_section h2 {
    font-family: heading_pro_trialbold, Helvetica, SansSerif;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: rgba(225, 225, 225, 0.5);
    margin-bottom: 10px; }
    @media screen and (min-width: 40rem) {
      .news_section h2 {
        font-size: 2.5rem; } }
    @media screen and (min-width: 64rem) {
      .news_section h2 {
        font-size: 3rem; } }
  .news_section p {
    text-transform: uppercase;
    color: black;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 30px; }

.store_section {
  text-align: center;
  padding: 60px 30px 60px 30px; }
  .store_section h2 {
    font-family: heading_pro_trialbold, Helvetica, SansSerif;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 10px; }
    @media screen and (min-width: 40rem) {
      .store_section h2 {
        font-size: 2.5rem; } }
    @media screen and (min-width: 64rem) {
      .store_section h2 {
        font-size: 3rem; } }
  .store_section .merch_content {
    margin-top: 20px; }
  .store_section .slick_slider {
    margin-top: 30px; }
    .store_section .slick_slider .slick-arrow {
      position: absolute;
      width: 30px;
      padding: 8px 0 4px 0;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(255, 255, 255, 0.8); }
    .store_section .slick_slider .prev_arrow {
      left: 0;
      z-index: 18; }
    .store_section .slick_slider .next_arrow {
      right: 0; }
    .store_section .slick_slider span {
      font-size: 2rem;
      cursor: pointer; }
  .store_section .slick-track img {
    margin: 0 auto; }

.main_footer {
  text-align: center;
  padding: 60px 10px 30px 10px;
  background-color: #f53435; }
  @media screen and (min-width: 40rem) {
    .main_footer {
      padding-bottom: 0; } }
  .main_footer h3 {
    font-family: heading_pro_trialbold, Helvetica, SansSerif;
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    margin-bottom: 0; }
  .main_footer p {
    font-family: heading_pro_trialbold, Helvetica, SansSerif;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 0; }
  @media screen and (min-width: 40rem) {
    .main_footer .cell:nth-child(2) {
      text-align: left;
      padding-left: 10px; } }
  .main_footer input {
    float: left;
    height: 40px;
    margin: 10px 0 20px 0;
    border: 1px solid white;
    width: 70%; }
    .main_footer input::placeholder {
      font-family: heading_pro_trialbold, Helvetica, SansSerif;
      color: #f53435;
      text-align: center; }
  .main_footer button {
    float: right;
    font-family: heading_pro_trialbold, Helvetica, SansSerif;
    color: white;
    background-color: #190101;
    width: 20%;
    height: 40px;
    margin: 10px 0 20px 0; }
    @media screen and (min-width: 40rem) {
      .main_footer button {
        float: left;
        margin-left: 20px; } }
  @media screen and (min-width: 40rem) {
    .main_footer .cell:nth-child(3) {
      position: relative; }
      .main_footer .cell:nth-child(3) .newsletter_pos {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%); } }
  .main_footer nav ul {
    margin: 0; }
    .main_footer nav ul li {
      display: inline; }
  .main_footer .footer_nav {
    margin-top: 20px; }
    @media screen and (min-width: 64rem) {
      .main_footer .footer_nav {
        text-align: left; } }
    .main_footer .footer_nav li {
      margin-right: 12px; }
      .main_footer .footer_nav li a {
        font-family: heading_pro_trialbold, Helvetica, SansSerif;
        color: white;
        text-transform: uppercase;
        font-size: 1.65rem;
        transition: all 0.3s ease; }
        .main_footer .footer_nav li a:hover {
          color: #190101; }
  .main_footer .policy_nav {
    margin-bottom: 20px; }
    @media screen and (min-width: 64rem) {
      .main_footer .policy_nav {
        text-align: left; } }
    .main_footer .policy_nav a {
      color: #190101;
      text-transform: uppercase;
      font-size: .75rem;
      transition: all 0.3s ease; }
  .main_footer .social_media span {
    font-size: 2rem;
    margin: 0 10px 0 10px;
    color: black; }
  @media screen and (min-width: 40rem) {
    .main_footer .social_media {
      position: relative; }
      .main_footer .social_media .social_wrap {
        position: absolute;
        top: 50%;
        transform: translateY(-50%); } }

.back_to_top_wrap {
  position: fixed;
  right: 3%;
  bottom: 1.5%;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 0; }
  .back_to_top_wrap .back_to_top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 2rem;
    color: white; }
