.main_footer {
  text-align: center;
  padding: 60px 10px 30px 10px;
  background-color: $julio_red;
  @media screen and (min-width: 40rem) {
    padding-bottom: 0;
  }
  h3 {
    font-family: $heading_font;
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    margin-bottom: 0;
  }
  p {
    font-family: $heading_font;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 0;
  }
  .cell:nth-child(2) {
    @media screen and (min-width: 40rem) {
      text-align: left;
      padding-left: 10px;
    }
  }
  input {
    float: left;
    height: 40px;
    margin: 10px 0 20px 0;
    border: 1px solid white;
    width: 70%;
    &::placeholder {
      font-family: $heading_font;
      color: $julio_red;
      text-align: center;
    }
  }
  button {
    float: right;
    font-family: $heading_font;
    color: white;
    background-color: $section_bg_red;
    width: 20%;
    height: 40px;
    margin: 10px 0 20px 0;
    @media screen and (min-width: 40rem) {
      float: left;
      margin-left: 20px;
    }
  }
  @media screen and (min-width: 40rem) {
    .cell:nth-child(3) {
      position: relative;
      .newsletter_pos {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  nav {
    ul {
      margin: 0;
      li {
        display: inline;
      }
    }
  }
  .footer_nav {
    margin-top: 20px;
    @media screen and (min-width: 64rem) {
      text-align: left;
    }
    li {
      margin-right: 12px;
      a {
        font-family: $heading_font;
        color: white;
        text-transform: uppercase;
        font-size: 1.65rem;
        transition: all 0.3s ease;
        &:hover {
          color: $section_bg_red;
        }
      }
    }
  }
  .policy_nav {
    margin-bottom: 20px;
    @media screen and (min-width: 64rem) {
      text-align: left;
    }
    a {
      color: $section_bg_red;
      text-transform: uppercase;
      font-size: .75rem;
      transition: all 0.3s ease;
    }
  }
  .social_media {
    span {
      font-size: 2rem;
      margin: 0 10px 0 10px;
      color: black;
    }
    @media screen and (min-width: 40rem) {
      position: relative;
      .social_wrap {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.back_to_top_wrap {
  position: fixed;
  right: 3%;
  bottom: 1.5%;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 0;
  .back_to_top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 2rem;
    color: white;
  }
}