.head_nav_wrap {
  height: 80px;
  background-color: #ffffff;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s ease;
  @media screen and(min-width: 64rem) {
    height: 120px;
    &.shrink {
      height: 80px;
    }
  }
}

.logo_wrap {
  position: relative;
  .julio_logo {
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: all 0.5s ease;
    @media screen and(min-width: 64rem) {
      height: 80px;
      &.shrink {
        height: 60px;
      }
    }
  }
}

.name_wrap {
  position: relative;
  h1 {
    font-family: $heading_font;
    font-size: 1.5rem;
    margin-bottom: 0;
    position: absolute;
    bottom: 5%;
  }
}

.burger_button_wrap {
  position: relative;
  .burger_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 20;
    cursor: pointer;
    div {
      width: 27px;
      height: 3px;
      background-color: $section_bg_red;
      transition: all .5s ease;
    }
    .top {
      margin-bottom: 6px;
    }
    .mid {
      margin-bottom: 6px;
    }
  }
  .active {
    .top {
      transform: rotate(45deg);
      transform-origin: left 0;
    }

    .mid {
      opacity: 0;
    }

    .bot {
      transform: rotate(-45deg);
      transform-origin: left 100%;
    }
  }
}

.overlay {
  position: fixed;
  z-index: 19;
  background-color: $julio_red;
  right: -100%;
  width: 100%;
  height: 100vh;
  transition: all .5s ease;
  nav {
    position: relative;
    text-align: center;
    top: 10%;
    ul {
      margin-left: 0;
      li {
        list-style-type: none;
        a {
          font-family: $heading_font;
          color: #000000;
          font-size: 3rem;
          text-transform: uppercase;
          transition: all .5s ease;
          position: relative;
          text-decoration: none;
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            bottom: 0;
            left: 0;
            background-color: #000000;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }
          &:hover,
          &:focus {
            color: #000000;
            &:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
  &.show {
    right: 0;
  }
}

.header_image {
  background-image: url(../images/cover-photo.jpg);
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 100vh;
}

.text_placement {
  position: absolute;
  bottom: 12%;
  h2 {
    font-family: $heading_font_italic;
    color: #ffffff;
    font-size: 3rem;
    margin-bottom: 0;
  }
  p {
    color: #ffffff;
    font-size: 1rem;
  }
  .hr {
    width: 120px;
    float: left;
  }
  @media screen and (min-width: 40rem) {
    h2 {
      font-size: 4rem;
    }
    p {
      font-size: 1.75rem;
      margin-top: -20px;
    }
  }
}

.desktop_nav_wrap {
  position: relative;
  nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 60px;
    background: $julio_red;
    padding-top: 8px;
    ul {
      margin: 0;
      li {
        list-style-type: none;
        display: inline;
        a {
          font-family: $heading_font;
          text-transform: uppercase;
          color: black;
        }
      }
      @media screen and (min-width: 64rem) {
        li {
          margin-left: 35px;
          a {
            font-size: 1.5rem;
          }
        }
      }
      @media screen and (min-width: 75rem) {
        li {
          margin-left: 35px;
          a {
            font-size: 2rem;
          }
        }
      }
      @media screen and (min-width: 90rem) {
        li {
          margin-left: 60px;
          a {
            font-size: 2rem;
          }
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-top: 60px solid white;
      border-right: 40px solid transparent;
    }
  }
}