.news_section {
  text-align: center;
  padding: 60px 10px 60px 10px;
  background-image: url(../images/news_bg.jpg);
  background-position: center;
  background-size: cover;
  h2 {
    @include mobile_section_h2;
    background-color: rgba(225, 225, 225, .5);
    margin-bottom: 10px;
    @media screen and (min-width: 40rem) {
      font-size: 2.5rem;
    }
    @media screen and (min-width: 64rem) {
      font-size: 3rem;
    }
  }
  p {
    text-transform: uppercase;
    color: black;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}