.store_section {
  text-align: center;
  padding: 60px 30px 60px 30px;
  h2 {
    @include mobile_section_h2;
    margin-bottom: 10px;
    @media screen and (min-width: 40rem) {
      font-size: 2.5rem;
    }
    @media screen and (min-width: 64rem) {
      font-size: 3rem;
    }
  }
  .merch_content {
    margin-top: 20px;
  }
  .slick_slider {
    margin-top: 30px;
    .slick-arrow {
      position: absolute;
      width: 30px;
      padding: 8px 0 4px 0;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(255, 255, 255, .8);
    }
    .prev_arrow {
      left: 0;
      z-index: 18;
    }
    .next_arrow {
      right: 0;
    }
    span {
      font-size: 2rem;
      cursor: pointer;
    }
  }
  .slick-track img {
    margin: 0 auto;
  }
}