.bio_section {
  text-align: center;
  margin-bottom: 60px;
  padding: 0 10px 0 10px;
  @media screen and(min-width: 40rem) {
    .hr {
      float: left;
    }
  }
  @media screen and(min-width: 64rem) {
    margin-bottom: 140px;
  }
  .bio {
    background-color: #ffffff;
    margin-top: 80px;
    @media screen and(min-width: 64rem) {
      margin-top: 160px;
    }
    h2 {
      @include mobile_section_h2;
      margin-bottom: 10px;
      @media screen and(min-width: 40rem) {
        text-align: left;
        font-size: 2.5rem;
        margin: 0;
      }
      @media screen and(min-width: 64rem) {
        font-size: 3rem;
      }
    }
  }
  p {
    margin-top: 20px;
    @media screen and (min-width: 40rem) {
      margin-top: 80px;
      text-align: left;
      font-size: 1rem;
    }
    @media screen and (min-width: 64rem) {
      margin-top: 160px;
    }
  }
}

.timeline_section {
  padding: 60px 10px 60px 10px;
  background-color: $section_bg_red;
  img {
    max-height: 350px;
  }
  h2 {
    @include mobile_section_h2;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
    @media screen and (min-width: 40rem) {
      font-size: 2.5rem;
    }
    @media screen and (min-width: 64rem) {
      font-size: 3rem;
    }
  }
  .timeline_description {
    background-position: 0 50%;
    background-repeat: no-repeat;
    width: 100%;
    padding: 10px 10px 0 10px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    &.high_school {
      background-image: url("../images/2004.svg");
      background-position: 0 50%;
      background-repeat: no-repeat;
    }
    &.college {
      background-image: url("../images/2008.svg");
      background-position: 0 50%;
      background-repeat: no-repeat;
    }
    &.nfl {
      background-image: url("../images/2011.svg");
      background-position: 0 50%;
      background-repeat: no-repeat;
      border-bottom: none;
    }
    h3 {
      font-family: 'Impact', Helvetica, SansSerif;
      font-size: 1.5rem;
      color: $julio_red;
      text-transform: uppercase;
      margin-top: 20px;
      span:last-child {
        color: white;
        font-size: 1rem;
      }
    }
    p {
      font-size: 1rem;
      color: #ffffff;
    }
  }
  @media screen and (min-width: 40rem) {
    .timeline_description.high_school {
      background-image: none;
    }
    .timeline_description.college {
      background-image: none;
    }
    .timeline_description.nfl {
      background-image: none;
    }
  }
  .years-wrap {
    position: relative;
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .break_container {
    position: relative;
    cursor: pointer;
    .break_wrap {
      position: absolute;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid white;
      float: right;
      top: -10px;
      left: 0;
      z-index: 9;
      .break {
        position: absolute;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid $section_bg_red;
        float: right;
        top: -10px;
        left: -12px;
      }
    }
  }
  .second_break {
    @media screen and (min-width: 40rem) {
      .break_wrap {
        border-left: none;
        border-right: 10px solid white;
        left: -8px;
        .break {
          border-left: none;
          border-right: 10px solid $section_bg_red;
          left: 2px;
        }
      }
    }
  }
  @media screen and (min-width: 40rem) {
    .cell:nth-child(5) {
      .timeline_description {
        border-left: none;
      }
    }
    .mid-year {
      border-left: 1px solid white;
    }
  }
}

video {
  width: 100%;
}

.video_play {
  cursor: pointer;
}

.read_more {
  color: $julio_red;
  cursor: pointer;
  .read_more_active & {
    display: none;
  }
}

.show_less {
  color: $julio_red;
  cursor: pointer;
  display: none;
  .read_more_active & {
    display: inline;
  }
}

.extra_content {
  display: none;
  .read_more_active & {
    display: inline;
  }
}
