@font-face {
  font-family: 'heading_pro_trialbold_italic';
  src: url('../fonts/heading-pro-bold-italic-trial-webfont.woff2') format('woff2'),
  url('../fonts/heading-pro-bold-italic-trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'heading_pro_trialbold';
  src: url('../fonts/heading-pro-bold-trial-webfont.woff2') format('woff2'),
  url('../fonts/heading-pro-bold-trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

$heading_font: heading_pro_trialbold, Helvetica, SansSerif;
$heading_font_italic: heading_pro_trialbold_italic, Helvetica, SansSerif;

$julio_red: #f53435;
$section_bg_red: #190101;

@mixin mobile_section_h2() {
  font-family: $heading_font;
  font-size: 2rem;
  text-transform: uppercase;
}

.hr {
  width: 60px;
  height: 3px;
  margin: 0 auto;
  background-color: $julio_red;
}